page-login {
    ion-content {
        ion-button {
            background-color: #FF6464;
            width: 100px;
            font-size: 18px;
            padding: 20px;
            margin-bottom: 20px;
        }
    }
    
}
